@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

body{
    background-color:hsl(235, 16%, 14%);
    background-image: url("./images/bg-stars.svg"),
    url("./images/pattern-hills.svg");
    background-size: 100% 100%, 100% 200px;
    background-repeat: no-repeat;
    color: white;   
    height: 100vh;
    width: 100vw; 
    background-position: top, bottom;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

h1{
    width: 100vw;
    letter-spacing: 4px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

#dias,
#horas,
#minutos,
#segundos{
    border-radius: 10px;
    align-items: center;
    background-color: hsl(236, 21%, 26%);
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    color: hsl(345, 95%, 68%);
    padding: 25px;
    
}

.relogio{
    font-family: "Red Hat Text", sans-serif;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 0px 30px;
    
}

.relogio p {
    font-size: 14px;
    letter-spacing: 3px;
    color: hsl(237, 18%, 59%);
    margin-top: 18px;
}

.conteiner-dias,
.conteiner-horas,
.conteiner-minutos,
.conteiner-segundos{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.rede-social{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


